.table,
.theme{
    width: 300px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    text-align: center; 
   
    
    /* background-color: blue;} */
    
}
.month{
    font-size:34px;}

/*https://zellwk.com/blog/calendar-with-css-grid/ */
.dayofweek{
    font-size: 18px;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    /* background-color: burlywood;*/
    text-align: center; 
    grid-gap: 100px 80px;
    padding: 10px;
    }

.daygrid{
font-size:20px;
display: grid;
grid-template-columns: repeat(7, 1fr);
/*background-color: cadetblue;*/
border: 4px solid black;
grid-auto-flow: dense;
grid-gap: 100px 80px;
padding: 10px;
/*height: 80px; */
}
